.raceShow {
	background-image: -webkit-linear-gradient(left, #fdfdfd, #a1a1a2);
	border: solid 1px #000000;
	border-radius: 5%;
	position: absolute;
	display: none;
	width: 300px;
	height: 500px;
	padding: 5px;  
	top: 10%;
	left: 10%;
}

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 600px;
    transform: translate(-50%,-50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    z-index: 12;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; 
}

.loading {
    position: absolute;
    left: 350px;
    top: 280px;
    z-index: 100000;
}

.webcam {
	position: absolute;
	top: 40px;
	left: 15px;
  z-index: 9;
}


#capture{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#subbmit{
    position: absolute;
    right: 150px;
    bottom: 20px;
}

#refresh{
    position: absolute;
    right: 280px;
    bottom: 20px;
}

.play {
    -webkit-app-region: no-drag;
    display: inline-block;
    border-radius: 10%;
    background-color: #000000;
    font-size: 13px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle;
  }
  
  .play span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .play span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .play:hover span {
    padding-right: 25px;
  }
  
  .play:hover span:after {
    opacity: 1;
    right: 0;
  }


  #preview {
    -webkit-app-region: no-drag;
    position: absolute;
    bottom: 100px;
    right: 10px;
    width: 150px;
    height: 200px;
  }

  #video {
    -webkit-app-region: no-drag;
    position: relative;
    top: 40px;
    left: 50px;
    width: 550px;
    height: 600px;
  }

  .facecam {
    position: absolute;
    border-radius: 20%;
	  top: 100px;
	  left: 100px;
    z-index: 9;
  }

  .tips{
    text-align: center;
    position: relative;
    top: 40px;
    color:#f640f9; /*设置文字颜色*/
		text-decoration: none;
		font-size:2.5em; /*设置字体大小*/
		font-family:"微软雅黑";/*设置字体*/
		-webkit-animation: shine 2.4s infinite;/*设置动画*/
  }

@-webkit-keyframes shine{/*创建动画*/
    0%,100%{ color:#000000;text-shadow:0 0 10px #2117ac,0 0 10px #2117ac; }
    50%{ text-shadow:0 0 10px #2117ac,0 0 40px #2117ac; }
}

.logincam{
    position: absolute;
    border-radius: 100%;
	  top: 100px;
	  left: 100px;
    z-index: 9;
}


.logintips{
  font-size:4em; /*设置字体大小*/
  position: relative;
  top: 25px;
  font-family:"微软雅黑";/*设置字体*/
	font-weight: 500; /*设置字体粗细*/
	text-align: center; /*设置文字居中*/
	color: #cd1cd0; /*设置文字颜色*/
	-webkit-animation:swing 2s infinite;/*设置动画*/
}
@-webkit-keyframes swing{/*创建动画*/
  20%{
     -webkit-transform:rotate(15deg);
  }40%{
     -webkit-transform:rotate(-15deg);
  }60%{
     -webkit-transform:rotate(5deg);
  }80%{
     -webkit-transform:rotate(-5deg);
  }100%{
     -webkit-transform:rotate(0deg);
  }
}

.imgWrapper{
  display: none;
  z-index: 12;
  position: relative;
  left: 100px;
  top:-30px;
  width: 600px;
  height: 580px;
  border: 1px solid #ccc;
}

.wrapper{
  position: absolute;
  width: 600px;
  height: 550px;
  border: 1px solid #ccc;
}
.wrapper .box{
  position: absolute;
  width: 60px;
  height: 55px;
}

